h1{
  font-family: 'Nanum Gothic', sans-serif;
  color:blue;
}
#item1{
  color:blue;
}
#item{
   margin-top:50%;
}
.it{
  margin-top:10%;
}
.ite{
 margin-top:10%;
}
.itee{
margin-top:18px;
}
.itt{
margin-left:5%;
}